* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
body {
	background: #e3f3f5;
}
a {
	text-decoration: none;
	border: none;
}
.header {
	background: #65a0cc;
	height: 82px;
	color: white;
}
.content {
	background: #fff;
	margin-left: 332px;
	float: left;
	height: 334;
	width: 70%;
	vertical-align: top;
	color: white;
}
.sidebar {
	height: 334px;
	width: 272px;
	color: white;
	background: #c5e1f5;
	margin-left: 60px;
	vertical-align: top;
	font-size: 12px
}

#header-text {
	margin-left: 60px;
	font-size: 36px;
	padding-top: 30px;
}
#news {
	padding-left: 22px;
	padding-top: 26px;
	vertical-align: top;
	font-size: 18px;
}
#pages {
	padding-left: 22px;
	padding-top: 36px;
	vertical-align: top;
	font-size: 18px;
}
#links {
	padding-left: 22px;
	padding-top: 36px;
	vertical-align: top;
	font-size: 18px;
}
#gallery {
	padding-left: 22px;
	padding-top: 36px;
	vertical-align: top;
	font-size: 18px;
}
#texts {
	font-size: 18px;
	padding-left: 120px;
}
#audio {
	margin-left: 332px;
	background: white;
	font-size: 24px;
}